amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2018.4.16
dj-database-url==0.5.0
Django==2.0.4
django-cors-headers==2.2.0
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.8.2
gunicorn==19.7.1
kombu==4.1.0
pipenv==2018.5.18
psycopg2==2.7.4
pytz==2018.3
raven==6.8.0
redis==2.10.6
vine==1.1.4
virtualenv==15.2.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
