.current-games {
  margin-bottom: pad(6);
}
.current-games h3 {
  display: flex;
  align-items: center;
}
.current-games h3 .badge {
  margin-left: pad(2);
}
.current-game {
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-game svg:first-child {
  margin-right: pad(4);
}
.current-game svg:last-child {
  margin-left: pad(4);
}
