.profile h2 {
  display: flex;
  justify-content: space-between;
}
ul li {
  position: relative;
}
ul li:after {
  content: attr(data-content);
  position: absolute;
  top: -10px;
  left: 0px;
  width: 80px;
}
ul li:last-child:after {
  right: 0;
  left: auto;
  text-align: right;
}
