$grey = grey
$grey-light = lighten($grey, 30)
$grey-300 = lighten($grey, 10)
$grey-dark = darken($grey, 30)

$primary = #0A60FE
$primary-light = lighten($primary, 30)
$primary-dark = darken($primary, 30)

$secondary = green
$secondary-light = lighten($secondary, 30)
$secondary-dark = darken($secondary, 30)

$danger = #CF312F
$danger-light = lighten($danger, 30)
$danger-dark = darken($danger, 30)

$default = #333

$border-color = $grey


$perfect = #FBE846
$win = #5E9D39
$loss = #CF312F


$groupa = lightblue
$groupb = lightgreen
$groupc = lightgoldenrodyellow
$groupd = lightpink
$groupe = lightsalmon
$groupf = lightseagreen
$grouph = lightcoral
$groupg = lightyellow

:root
    --grey-100: $grey-light
    --grey-300: $grey-300
    --grey: $grey
    --grey-900: $grey-dark

    --primary: $primary
    --danger: $danger
    --default: $default
    --perfect: $perfect
    --win: $win
    --loss: $loss
