.current-games
    margin-bottom: pad(6)

    h3
        display: flex
        align-items: center

        .badge
            margin-left: pad(2)

.current-game
    display: flex
    align-items: center
    justify-content: center

    svg:first-child
        margin-right: pad(4)

    svg:last-child
        margin-left: pad(4)
