.leaderboard
    margin-bottom: pad(10)

    h3
        margin-bottom: pad(4)

    .list
        background-color: #fff


.user
    display: flex
    justify-content: space-between
    align-items: center
    padding: pad(4)
    color: $default
    text-decoration: none

    &:hover
        cursor: pointer

    &.me
        font-weight: 700
