.badge
    display: inline-flex
    padding: pad(1) pad(3)
    background-color: $grey-light
    border-radius: $border-radius * 2
    font-size: 80%
    font-weight: 700

    &.hidden
        visibility: hidden

    + .badge
        margin-right: pad(4)

    &.live
        background-color: $primary
        color: #fff

    &.loss
        color: #fff
        background-color: $loss

    &.win
        color: #fff
        background-color: $win

    &.perfect
        background-color: $perfect

    &.groupa
        background-color: $groupa

    &.groupb
        background-color: $groupb

    &.groupc
        background-color: $groupc

    &.groupd
        background-color: $groupd

    &.groupe
        background-color: $groupe

    &.groupf
        background-color: $groupf

    &.groupg
        background-color: $groupg

    &.grouph
        background-color: $grouph
