.form-group
    display: flex
    flex-direction: column

    margin-bottom: pad(6)

    label
        margin-bottom: pad(2)

.form-input
    display: flex
    flex-direction: column

.form-field-error
    color: $danger
    font-weight: 700

.form-actions
    display: flex
    align-items: center
    justify-content: center
