.tasks
    margin: pad(12) 0

.tasks-group
    margin-bottom: pad(12)

.task
    display: flex
    align-items: center
    padding: pad(4)
    margin: pad(4) 0
    text-decoration: none
    color: $default
    border-radius: 4px

    .icon
        margin-right: pad(2)


.double-flags
    position: relative
    width: 48px
    height: 48px

    svg
        position: absolute
